$colors: (
    danger: (
        100: hsl(4, 90%, 58%),
    ),
    warning: (
        100: hsl(4, 90%, 58%),
        200: hsl(54, 100%, 62%),
    ),
    success: (
        100: hsl(122, 39%, 49%),
    ),
    info: (
        100: hsl(207, 90%, 54%),
    ),
    coopered: (
        100: hsl(17, 49%, 85%),
        200: hsl(16, 50%, 71%),
        300: hsl(16, 50%, 64%),
        400: hsl(16, 50%, 57%),
        500: hsl(16, 50%, 50%),
    ),
    champagne: (
        100: hsl(17, 49%, 92%),
    ),
    prussianblue: (
        100: hsl(215, 50%, 23%),
    ),
    neutral: (
        50: hsl(260, 20%, 97%),
        100: hsl(210, 2%, 79%),
        200: hsl(200, 2%, 63%),
        300: hsl(216, 2%, 47%),
        400: #4c4f52,
        500: hsl(210, 11%, 15%),
        600: hsl(210, 10%, 11%),
        700: hsl(204, 12%, 8%),
        800: hsl(220, 10%, 6%),
        900: hsl(210, 14%, 3%),
    )
);