h1, h2, h3 {
    line-height: 1.1;
}
h1 {
    font-size: var(--display);
    font-weight: var(--black);
    font-family: var(--title-font);
    letter-spacing: -.3rem;
}
h2 {
    font-size: var(--title);
    font-weight: var(--extrabold);
    letter-spacing: -.2rem;
}
h3 {
    font-size: var(--subtitle);
    font-weight: var(--bold);
    letter-spacing: -.1rem;
}
h4 {
    font-size: var(--subtitle-h4);
    font-weight: var(--semibold);
}
p,
span,
li {
    font-size: var(--paragraph);
    font-weight: var(--medium);
    letter-spacing: .05rem;
}
a, a:visited, a:active {
    text-decoration: none;
}