.form {
    padding: 2rem;

    .form-control {
        margin-top: 1rem;
        margin-bottom: 2rem;
        position: relative;
    
        label {
            visibility: hidden;
            display: inline-block;
            margin-bottom: 0;
        }
    
        input {
            border: 2px solid #f0f0f0;
            display: block;
            border-radius: 1.2rem;
            width: 100%;
            padding: 1.2rem;
            color: var(--clr-neutral-300);
        }

        textarea {
            border: 2px solid #f0f0f0;
            display: block;
            border-radius: 1.2rem;
            width: 100%;
            padding: 1.2rem;
            color: var(--clr-neutral-300);
        }
    
        i {
            position: absolute;
            top: 4.5rem;
            right: 1rem;
            visibility: hidden;
        }
        
        small {
            position: absolute;
            bottom: 0;
            left: 0;
            visibility: hidden;
        }

        .success input {
            border-color: var(--attention-green);

            i.fa-check-circle {
                color: var(--attention-green);
                visibility: visible;
            }
        }
        .error input {
            border-color: var(--attention-red);

            i.fa-exclamation-circle {
                color: var(--attention-red);
                visibility: visible;
            }
        }
    
    }

    button {
        width: 100%;
    }
}
