.icon {
    width: 4.5rem;
    height: 4.5rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: #fff;
    border-radius: 50%;
    background-color: transparent;
}
.icon-bullet {
    width: 2.4rem;
    height: 2.4rem;
}